.header
  .header__inner
    .clearfix
      .l-left
        = link_to root_path do
          = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1857733084")
      = form_tag search_products_path, method: :get, class: "header-form l-right" do
        = text_field :product, :name, {class: "input-default", placeholder: "キーワードから探す"}
        = label_tag do
          %i.fas.fa-search
          = button_tag type: 'submit', class: 'search-btn'

    .header-nav-box
      .l-left
        .header-nav
          .list
            = render "/shared/category_search"
          .list
            ブランドから探す
      .l-right
        .header-user-nav
          - if user_signed_in?
            .list-mypage
              = image_tag("//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png")
              = link_to mypages_path, class: "link-no-decoration" do
                %div マイページ
            .list-notice
              .fas.fa-bell
                &nbsp;お知らせ
            .list-to-do
              .fas.fa-check
              .to-do-text やることリスト
            .to-do-list-table
              .to-do-list-table--message--new
                = image_tag "https://gqjapan.jp/uploads/media/2017/02/17/ferrari-812-superfast_01-170-170.jpg", class: "image-todo-list"
                .to-do-list-table--message--new--content
                  .to-do-list-table--message--new--content--text 『フェラーリ　$100,000』取引メッセージがあります。
                  .fas.fa-angle-right
                  .far.fa-clock
                  .to-do-list-table--message--new--content--date 1日前
              .to-do-list-table--message--second
                = image_tag "https://response.jp/imgs/p/HyHJUDsvwEJjLfURx1fZfoRN5UBBQkNERUZH/1274857.jpg", class: "image-todo-list"
                .to-do-list-table--message--second--content
                  .to-do-list-table--message--second--content--text 『アストンマーチン db11』についての取引メッセージがあります。
                  .fas.fa-angle-right
                  .far.fa-clock
                  .to-do-list-table--message--second--content--date 7日前
              .to-do-list-table--message--third
                = image_tag "https://stock-income.club/wp-content/uploads/2017/12/525e6bb07c5b00879afef65810968234.jpg", class: "image-todo-list"
                .to-do-list-table--message--third--content
                  .to-do-list-table--message--third--content--text 『ダイヤモンド』についての取引メッセージがあります。
                  .fas.fa-angle-right
                  .far.fa-clock
                  .to-do-list-table--message--third--content--date 18日前
          - else
            = link_to new_user_registration_path, class: "no-line link-no-decoration" do
              .header-btn.header-btn__signup
                新規会員登録
            = link_to new_user_session_path, class: "no-line link-no-decoration" do
              .header-btn.header-btn__login
                ログイン
