= render "/shared/header"

- breadcrumb :destroy, @destroy
= breadcrumbs separator: " &rsaquo; ", style: :ul

= render "shared/exhibit"
.mypages-body
  = render "/shared/side-bar"
  .main-all
    .main-all__background
      = link_to(destroy_user_session_path, method: :delete, class: "no-line") do
        .main-all__btn
          ログアウト
= render "/shared/footer"
